/* white */
$white-1: rgba(255, 255, 255, 1.00);
$white-2: rgba(235, 237, 240, 1.00);
$white-3: rgba(242, 242, 242, 1.00);
$white-4: rgba(248, 248, 248, 1.00);

/* black */
$black-1: rgba(000, 000, 000, 1.00);

/* gray */
$gray-1: rgba(019, 019, 019, 1.00);
$gray-2: rgba(032, 032, 032, 1.00);
$gray-3: rgba(040, 040, 040, 1.00);
$gray-4: rgba(047, 047, 047, 1.00);
$gray-5: rgba(062, 062, 062, 1.00);
$gray-6: rgba(075, 075, 075, 1.00);
$gray-7: rgba(094, 094, 094, 1.00);
$gray-8: rgba(184, 184, 184, 1.00);

/* blue-gray */
$blue-gray-1: rgba(126, 133, 149, 1.00);
$blue-gray-2: rgba(203, 206, 213, 1.00);
$blue-gray-3: rgba(230, 244, 255, 1.00);
$blue-gray-4: rgba(223, 225, 228, 1.00);

/* blue */
$blue-1: rgba(005, 125, 252, 1.00);
$blue-2: rgba(064, 169, 255, 1.00);
$blue-3: rgba(060, 137, 232, 1.00);
$blue-4: rgba(009, 088, 217, 1.00);
$blue-5: rgba(021, 084, 173, 1.00);

/* green */
$green-1: rgba(242, 255, 250, 1.00);
