.header {
  width: 100%;
  background: rgba(128, 128, 128, 0.3);

  .wrapper {
    height: 70px;
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    gap: 10px;
    cursor: pointer;

    svg {
      color: #fff;
    }

    &:hover,
    &:hover svg {
      color: var(--color_accent-hover);
    }
  }
}

.nav {
  display: flex;
  gap: 40px;
  font-size: 20px;

  .item:hover {
    color: var(--color_accent-hover);
  }

  .active {
    color: var(--color_accent-active);
    cursor: default;
  }
}
