/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* global */

body {
  font-family: sans-serif;
}

h1 {
  font: inherit;
}

img {
  width: 100%;
}

/* variables */
:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-highlight: #4361ee;
  --bg-color: #282c34;
  --bg-color-button: #1d2226;
  --shadow-color-dark: #000000;
  --shadow-color-light: #575757;
}

/* app */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  color: var(--color-primary);
  background-color: var(--bg-color);
}
