* {
  margin: 0;
}

ul {
  list-style: none;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding-top: 32px;
  color: white;
  background-color: #282c34;
}
