.card {
  position: relative;
  border: 10px solid blue;
  min-height: 150px;
  min-width: 150px;
}

.card h2 {
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px;
}
