.lable {
  height: 40px;
  display: block;
}

.input {
    width: 100%;
    padding: 8px 11px;
    font-size: 16px;
    color: var(--inputText-default-color);
    background: var(--inputText-default-bg);
    border: 1px solid var(--inputText-default-border);
    border-radius: 8px;

  &::placeholder {
    color: var(--inputText-placeholder-color);
  }

  &:focus {
    border-color: var(--inputText-active-border);
    box-shadow: 0 0 0 2px var(--color_shadow_focus);
  }

  &:disabled {
    color: var(--color_text_disabled);
    background: var(--color_bg_disabled);
    cursor: not-allowed;
  }
}
